---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import ProductHighlight from "../components/ProductHighlight.astro";
import Story from "../components/Story.astro";
import Process from "../components/Process.astro";
import Gallery from "../components/Gallery.astro";
import Recipes from "../components/Recipes.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Mocafie - Premium Cassava Flour">
	<Navbar />
	<main>
		<Hero />
		<Features />
		<ProductHighlight />
		<Story />
		<Process />
		<Gallery />
		<Recipes />
		<Contact />
	</main>
	<Footer />
</Layout>
