---
import { RecipesCarousel } from "./RecipesCarousel";
---

<section class="py-24 bg-primary-dark text-white relative">
    <div
        class="absolute inset-0 bg-[url('https://www.transparenttextures.com/patterns/cubes.png')] opacity-5"
    >
    </div>

    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 relative z-10">
        <RecipesCarousel client:load />
    </div>
</section>
